<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Recipients

    <a data-toggle="collapse" href="#user_recipients_new_form">
      Add relationship
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.recipients.each do |relationship| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to relationship, relationship %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_recipients_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "users/user_recipients_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
